body {
  margin: 0px;
  padding: 0px;
  background: #f5f5f5;
}
.site-layout-content {
  min-height: 280px;
  padding: 24px;
}
.logo {
  float: left;
  width: 120px;
  height: 31px;
  margin: 16px 24px 16px 0;
  padding: 0px -10px;
  background: cyan;
}
.ant-row-rtl .logo {
  float: right;
  margin: 16px 0 16px 24px;
}
.layout-content {
  margin: auto;
}
