body {
  margin: 0px;
  padding: 0px;
  background: #f5f5f5;
}
.site-layout-content {
  min-height: 280px;
  padding: 24px;
}
.logo {
  float: left;
  width: 104px;
  height: 38px;
  margin: 16px 24px 16px 0;
  background-image: url("WedIn.svg");
  background-size: cover;
}
.ant-row-rtl .logo {
  float: right;
  margin: 16px 0 16px 24px;
}
.layout-content {
  margin: auto;
}
